main {
    background-image: url('../../../assets/hero.jpg');
    height: 600px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    margin: 0;
}

h3 {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}