<section *ngIf="contactos != null" style="overflow-x: auto;">
    <h2>Contactos</h2>
    <button (click)="abrirFormularioCreacion()">Crear Contacto</button>
    <form *ngIf="formOpen" [formGroup]="form">
        <div>
            <label for="">Descripción</label>
            <input type="text" formControlName="descripcion">
        </div>
        <div>
            <label for="">Contacto</label>
            <input type="text" formControlName="contacto">
        </div>
        <button *ngIf="!edicion; else editar" (click)="crearContacto()">Crear</button>
        <ng-template #editar>
            <button (click)="editarContacto()">Editar</button>
        </ng-template>
        <button (click)="formOpen = false">Cancelar</button>
    </form>
    <table *ngIf="contactos.length > 0">
        <tr>
            <th>Descripción</th>
            <th>Contacto</th>
            <th>Acción</th>
        </tr>
        <tr *ngFor="let contacto of contactos">
            <td>{{ contacto.descripcion }}</td>
            <td>{{ contacto.contacto }}</td>
            <td class="field-set">
                <button (click)="abrirFormularioEdicion(contacto)">Editar</button>
                <button (click)="borrarContacto(contacto.id)">Borrar</button>
            </td>
        </tr>
    </table>
</section>