section {
    padding: 1rem;
    display: block;
    background-color: #A3BFA7;
    color: white;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1rem auto;
    display: block;
}

@media (min-width:468px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        margin: 1rem;
    }
}

p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}